<div class="row d-flex justify-content-center animate__animated animate__fadeIn">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-lg p-4">
            <img src="./img/logo.png" alt="Logo">
            <h5 class="d-flex justify-content-center">Sistema de Gestión de Empleados</h5>

            <form class="mt-3" id="loginForm">
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="black" d="M12 4a4 4 0 1 0 0 8a4 4 0 0 0 0-8M6 8a6 6 0 1 1 12 0A6 6 0 0 1 6 8m2 10a3 3 0 0 0-3 3a1 1 0 1 1-2 0a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5a1 1 0 1 1-2 0a3 3 0 0 0-3-3z"/></svg>
                        </span>
                        <input type="email" id="email" class="form-control" placeholder="Correo" required>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="black" d="M12 17a2 2 0 0 1-2-2c0-1.11.89-2 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2m6 3V10H6v10zm0-12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V10c0-1.11.89-2 2-2h1V6a5 5 0 0 1 5-5a5 5 0 0 1 5 5v2zm-6-5a3 3 0 0 0-3 3v2h6V6a3 3 0 0 0-3-3"/></svg>
                        </span>
                        <input type="password" id="password" class="form-control" placeholder="Contraseña" required>
                    </div>
                </div>                
                <div class="d-grid gap-2 mt-5">
                    <button type="submit" class="btn btn-acceder">Acceder</button>
                </div>
            </form>
            
        </div>
    </div>
</div>


